html {
  font-family: ui-sans-serif, system-ui, sans-serif;
  background: var(--bg);
  max-width: 70ch;
  padding: 1em;
  margin: auto;
  line-height: 1.75;
  color: var(--text);
}

a:link {
  color: var(--primary);
}

a:visited {
  color: var(--text-muted);
}

a:hover {
  color: var(--accent);
}

footer {
  text-align: center;
  margin-top: 2em;
  font-size: 0.9em;
  color: var(--text-muted);
}
